




@media (min-width: 768px) {
  .form-inline .form-group {
	   width: 100%;
  }
	.form-inline .form-group .form-control.full-width {
	   width: 100%;
  }
}


.line-through {
	 text-decoration: line-through;
}